// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include serif-font;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary-color;
}

hr.light {
  border-color: $white;
}

a {
  color: $primary-color;
  @include transition-all;
  &:hover {
    color: darken($primary-color, .1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

.bg-primary {
  background-color: $primary-color !important;
}

.bg-dark {
background-color: #808080;
}

.text-faded {
  color: rgba(255, 255, 255, 0.84);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

section {
  padding: 4rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: $white;
  background: $gray;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

.phone-number {
  color: $primary-color;
}